<!-- Toolbar -->
<mat-toolbar color="primary" class="header">
  
  <div class="titreLogo">
   ProxiExpense
  </div>
  
  <span class="nav-tool-items">
    <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
  </span>
</mat-toolbar>

<mat-sidenav-container>
 
  <!-- Sidenav -->
  <mat-sidenav #sidenav [mode]="isBiggerScreen() ? 'over' : 'side'" [(opened)]="opened" [fixedInViewport]="false" [fixedTopGap]>
    <mat-nav-list>
      <div class="profile-card">
        <div class="header">
          <h3>BOUCHAIR Ramzi</h3>          
          <button id="exitButton" mat-icon-button aria-label="clear" routerLinkActive="active" routerLink="/">
            <mat-icon>exit_to_app</mat-icon>
          </button> 
        </div>
      </div>
      <mat-divider></mat-divider>

      <h1 matSubheader>
        <mat-icon>settings</mat-icon>
        Administrateur</h1>
      <a mat-list-item routerLinkActive="active" routerLink="/add-user">
        <mat-icon>person_add</mat-icon>Nouveau utilisateur
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/users-list">
        <mat-icon>people</mat-icon> List utilisateurs
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/type-frais">
        <mat-icon>room_service</mat-icon> Types de frais
      </a>

      <mat-divider></mat-divider>
      <h1 matSubheader>
        <mat-icon>work</mat-icon>
        Collaborateur</h1>

        <a mat-list-item routerLinkActive="active" >
          <mat-icon>receipt</mat-icon>Note de frais
        </a>

    </mat-nav-list>
  </mat-sidenav>  

  <!-- Main content -->
  <mat-sidenav-content>  
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
